<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings file="">
        <clear />
        <add key="ApiClient.ClientId" value="LJOXdqAlcxxxxxxxxxxxxxxxxxxxxx" />
        <add key="ApiClient.ClientSecret" value="Ipxxxxxxx" />
        <add key="ApiClient.RedirectUri" value="https://localhost:44300/Home/FinishAuth" />
        <add key="ApiClient.AccessToken" value="" />
        <add key="ApiClient.RefreshToken" value="" />
        <add key="ApiClient.ExpirationDateTime" value="" />
    </appSettings>
</configuration>
