<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="External" value="https://artifactory.rm.digikey.us/api/nuget/nuget-external" />
    <add key="Internal" value="https://artifactory.rm.digikey.us/api/nuget/nuget-internal" />
  </packageSources>
  <disabledPackageSources>
    <add key="CliFallbackFolder" value="true" />
    <add key="Microsoft Visual Studio Offline Packages" value="true" />
    <add key="CliFallbackFolder" value="true" />
    <add key="Microsoft Visual Studio Offline Packages" value="true" />
  </disabledPackageSources>
</configuration>
